.main {
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.compound {
  display: inline-block;
  white-space: nowrap;
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  margin: 0.2rem 0.5rem;
  padding: 0 0.75rem;
  font-size: 1.1rem;
}

.cellSmall {
  display: none;
}

.cellLarge {
  display: block;
}

@media only screen and (max-width: 991px) {
  .cellSmall {
    display: block;
  }
  
  .cellLarge {
    display: none;
  }
}

.cellFlex {
  display: flex;
  flex-wrap: wrap;
}